/* ========== HomePage Nav ========== */

.content h1 {
  color: white;
  font-size: 5rem;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.content a {
  color: white;
  font-size: 1.5rem;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.content a:hover {
  color: PaleVioletRed;
}

.homePageNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5vh;
  min-width: 650px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.homePageNav ul li a {
  text-decoration: none;
  font-size: 5rem;
  color: white;
  min-width: 1250px;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.homePageNav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;

  min-height: 30vh;
  min-width: 20vw;
  margin: 20px;

  list-style-type: none;
  padding: 5rem;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: ease-in-out 0.2s;
}

.homePageNav ul li:nth-child(1) {
  background: white;
  background: -webkit-linear-gradient(to right, PaleTurquoise, Bisque);
  background: linear-gradient(to right, PaleTurquoise, Bisque);
}

.homePageNav ul li:nth-child(2) {
  background: #636363;
  background: -webkit-linear-gradient(to right, PaleGreen, Thistle);
  background: linear-gradient(to right, PaleGreen, Thistle);
}

.homePageNav ul li:nth-child(3) {
  background: pink;
  background: -webkit-linear-gradient(to right, Plum, PowderBlue);
  background: linear-gradient(to right, Plum, PowderBlue);
}

.homePageNav ul li:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* ================================== */

/* ========= Component Navs ========= */
.app-container {
  display: flex;
}

.sidenav {
  margin: 0em 1em;
  margin-top: 5vh;
  flex-basis: 15%;
  min-height: 90vh;
  padding: 2em;
  border-radius: 15px;
  text-align: center;
}

.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidenav li {
  padding: 1rem;
  font-size: 1.5em;
}

.sidenav a {
  text-decoration: none;
  color: white;
}

.sidenav a:hover {
  color: pink;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.sidenav .sidenav ul li {
  text-decoration: none;
}

.content {
  flex-basis: 85%;
  text-align: center;
  min-height: 90vh;
  max-width: 70vw;
  min-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  background: #373b44;
  background: -webkit-linear-gradient(to right, MistyRose, Pink);
  background: linear-gradient(to right, MistyRose, Pink);
  padding: 2em;
  border-radius: 15px;
}

body {
  background-image: url("./cherry.png");
  font-family: Arial, Helvetica, sans-serif;
  color: PaleVioletRed;
}

.activeLink {
  color: PaleVioletRed !important;
}

.CMNav {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to bottom, PaleTurquoise, Bisque);
  background: linear-gradient(to bottom, PaleTurquoise, Bisque);
}

.CPNav {
  background: #636363;
  background: -webkit-linear-gradient(to bottom, PaleGreen, Thistle);
  background: linear-gradient(to bottom, PaleGreen, Thistle);
}


/* ================================== */
